{%extends "base.html" %}{% block title %}Contacts{% endblock %}{% block content %}
<!-- <h1 align = "center">Contacts</h1>
<ul class = "list-group list-group-flush" id="contacts">
    {% for contact in user.contacts %}
    <li class = "list-group-item">{{ contact.first_name }}
    <li class = "list-group-item">{{ contact.last_name }}</li>
    <li class = "list-group-item">{{ contact.number }}</li>
    <br\>
    {% endfor %}
</ul> -->
<br/>
<h4 align="center">Contacts</h4>
<div class="container">
  <div class="row">
    {% for contact in user.contacts|sort(attribute='first_name') %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <img class="img-thumbnail" src="{{contact.photo}}" />
          <h5 class="card-title">{{ contact.first_name }} {{ contact.last_name }}</h5>
          <p class="card-text">Number: {{ contact.number }}</p>
          <button type = "button" class="close" onClick ="deleteContact({{ contact.id }})">
            <span aria-hidden="true">&times;</span>
          </button>
          <a href="/update/{{contact.id}}" class="btn btn-outline-secondary btn-sm">Update</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<br/>
<div class="container"  style="margin: 20px; padding: 20px;">
  <div class="row justify-content-center">
    <div class="col-md-6">
  <h4 class="text-center mb-4">Create New Contact</h4>
  <form method="POST" class="my-div rounded p-4">
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" id="first_name" name="first_name">
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" id="last_name" name="last_name">
    </div>
    <div class="form-group">
      <label for="number">Number</label>
      <input type="text" class="form-control" id="number" name="number">
    </div>
    <div class="form-group">
      <label for="photo">Add Link to Photo for Contact</label>
      <input type="text" class="form-control" id="photo" name="photo">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Create Contact</button>
    </div>
  </form>
</div>

{% endblock %}