{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
  content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="my-div rounded-lg" style="margin: 20px; padding: 20px;">
          <form method="POST">
            <h3 style="text-align: center;">Sign Up</h3>
            <div class="form-group">
              <label for="email">Email Address:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
              />
            </div>
            <div class="form-group">
              <label for="firstName">First Name:</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                name="firstName"
              />
            </div>
            <div class="form-group">
              <label for="password1">Password:</label>
              <input
                type="password"
                class="form-control"
                id="password1"
                name="password1"
              />
            </div>
            <div class="form-group">
              <label for="password2">Confirm Password:</label>
              <input
                type="password"
                class="form-control"
                id="password2"
                name="password2"
              />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Create Account</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  {% endblock %}