{% extends "base.html" %}
{% block title %}Update Contact{% endblock %}
{% block content %}
<div class="container" style="margin: 20px; padding: 20px;">
  <div class="row justify-content-center">
   <div class="col-md-6">
    <h4 align="center">Update Contact</h4>
    <ul class="list-group list-group-flush" id="contacts"></ul>
    <form action="/update/{{ contact.id }}" method="POST">
        <p>First Name</p>
        <input name="first_name" id="first_name" class="form-control" value="{{ contact.first_name }}">
        <p>Last Name</p>
        <input name="last_name" id="last_name" class="form-control" value="{{ contact.last_name }}">
        <p>Number</p>
        <input name="number" id="number" class="form-control" value="{{ contact.number }}">
        <br>
        <p>Add Link to Photo for Contact</p>
        <input type="text" class="form-control" id="photo" name="photo">
        <br/>
        <div align="center">
            <button type="submit" class="btn btn-primary">Update Contact</button>
        </div>
        <br>
    </form>
    </div>
  </div>
</div>
{% endblock %}